html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
 
	font-size: 12px;
	color: #C0C0C0;
	font-family: Verdana, sans-serif;
}

body {
	background-color: #000000;
	background-attachment: fixed;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    --padding-horizontal: 1.5rem;
    --padding-vertical: 3rem;
    --spacing: 3rem;
}

.banner img {
    min-width: 20em;
}

.MediaWrapper {
    min-width: 50%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem
}

.MediaWrapper img {
    width: 70px;
    padding-inline: 2rem;
    transition: transform 0.3s ease;
}

.MediaWrapper img:hover {
    transform: scale(1.2);
}

.containerStyle1 {
    --flex-alignment: flex-start;
    display: flex;
    width: 100rem;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
    flex-direction: column; /* Set flex-direction to column */
    backdrop-filter: blur(0.275rem);
    border-color: rgba(255,255,255,0.271);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.75rem;
    margin-bottom: 20px;
    max-width: 90%; /* Width of the container will update with the size of screen*/
}

.containerStyle1 img {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40rem;
    --padding-horizontal: 1.5rem;
    --padding-vertical: 3rem;
}

.containerStyle1 iframe {
    background: #000; 
    border: none;
    height: 40rem;
    width:30rem;
}

.boxWrapper {
    padding-top:40px;
    padding-bottom:40px;
    width: 100%;
    display:flex;
    justify-content: normal;
    flex-direction: column; /* Set flex-direction to column */
	align-items: center;
    color: aliceblue;
    font-size: 1.5rem;
}

.divider {
    border: 1px solid rgba(255,255,255,0.271); /* Set border properties */
    width: 100%;
    margin: 0px; /* Adjust margin as needed */
}

/* Specific settings to help with mobile devices*/

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    /* Styles for screens up to 600px wide */
    .containerStyle1 {
        width: 100%;
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .boxWrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}